In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools
from itertools import groupby

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
114,tt1178665,8000000,35991087,A Walk in the Woods,Robert Redford|Nick Nolte|Emma Thompson|Nick O...,Ken Kwapis,"When you push yourself to the edge, the real f...","After spending two decades in England, Bill Br...",104,Drama|Adventure|Comedy,Wildwood Enterprises|Route One Films,9/2/2015,5.4,2015
1040,tt1596365,17000000,127730736,The Woman in Black,Daniel Radcliffe|CiarÃ¡n Hinds|Sidney Johnston...,James Watkins,What did they see?,"The story follows a young lawyer, Arthur Kipps...",95,Drama|Horror|Thriller,Hammer Film Productions|UK Film Council|Allian...,2/1/2012,6.1,2012
1487,tt0405676,55000000,9450897,All the King's Men,Sean Penn|Jude Law|Kate Winslet|James Gandolfi...,Steven Zaillian,Some people will do anything to gain power. So...,The story of an idealist's rise to power in th...,125,Drama|Thriller,Columbia Pictures Corporation|Rising Star|Rela...,9/10/2006,5.4,2006
1210,tt1538403,60000000,90565421,The Mortal Instruments: City of Bones,Lily Collins|Jamie Campbell Bower|Kevin Zegers...,Harald Zwart,You have been chosen,"In New York City, Clary Fray, a seemingly ordi...",130,Action|Adventure|Drama|Mystery|Romance,Constantin Film Produktion|Don Carmody Product...,8/21/2013,6.2,2013
1561,tt0378194,30000000,152159461,Kill Bill: Vol. 2,Uma Thurman|David Carradine|Daryl Hannah|Micha...,Quentin Tarantino,The bride is back for the final cut.,The Bride unwaveringly continues on her roarin...,136,Action|Crime|Thriller,Miramax Films|A Band Apart|Super Cool ManChu,4/16/2004,7.5,2004

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [112]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

#получим столбец profit = revenue - budget
data['profit'] = data.revenue - data.budget

#Получить список всех значений с повторениями, включая те, что записаны через |
def get_list_values(ser):
    term_list = []
    for item in ser.str.split('|'):
        term_list += item
    return term_list

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [359]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [360]:
# тут пишем ваш код для решения данного вопроса:
d = data[data.budget == data.budget.max()]
print(d.original_title, d.imdb_id)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object 723    tt1298650
Name: imdb_id, dtype: object

ВАРИАНТ 2

In [361]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [362]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [363]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [364]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [365]:
answers['4'] = 110
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [366]:
answers['5'] = 107
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [367]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar (tt0499549)'
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [368]:
answers['7'] = 'The Lone Ranger (tt1210819)'
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [369]:
answers['8'] = 1478
data[data.profit > 0].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [370]:
answers['9'] = 'The Dark Knight (tt0468569)'
data[data.profit == data[data.release_year == 2008].profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [371]:
answers['10'] = 'The Lone Ranger (tt1210819)'
data[data.profit == data[(data.release_year >=2012) & (data.release_year <= 2014)].profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [372]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'

term_list = get_list_values(data.genres)
counter_genres = Counter(term_list)
print( counter_genres.most_common(1) )

[('Drama', 782)]

ВАРИАНТ 2

In [373]:
d = {}
term_list = get_list_values(data.genres)
term_list.sort()
# используем библиотеку iterattools, method groupby
for key, group in groupby(term_list):
    d[key] = len(list(group))
max(d, key = d.get)

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [374]:
answers['12'] = 'Drama'

data2 = data[data.profit>0]
term_list = get_list_values(data2.genres)
counter_genres = Counter(term_list)
print( counter_genres.most_common(1) )

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [375]:
answers['13'] = 'Peter Jackson'

data_copy = data.copy()
data_copy.director = data_copy.director.str.split('|')
#получм таблицу, где в колонке Режессера только по одному режесеру
data_copy = data_copy.explode('director')
#Сгруппируем по режессеру, а revenue просуммируем и отсортируем по убыванию. Возьмем первую строку.
data_copy.groupby('director').revenue.sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [376]:
answers['14'] = 'Robert Rodriguez'
data_copy = data.copy()
data_copy.director = data_copy.director.str.split('|')
#получм таблицу, где в колонке Режессера только по одному режесеру
data_copy = data_copy.explode('director')
data_copy.genres = data_copy.genres.str.split('|')
#получм таблицу, где в колонке Режессера только по одному режесеру
data_copy = data_copy.explode('genres')
data_copy = data_copy[data_copy.genres == 'Action'].director
data_copy.value_counts().sort_values(ascending=False).index[0]
# data_copy.groupby('director')

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [377]:
answers['15'] = 'Chris Hemsworth'
data_copy = data[data.release_year == 2012].copy()
data_copy.cast = data_copy.cast.str.split('|')
# #получм таблицу, где в колонке cast только по одному актеру
data_copy = data_copy.explode('cast')
# #Сгруппируем по режессеру, а revenue просуммируем и отсортируем по убыванию. Возьмем первую строку.
data_copy.groupby('cast').sum().sort_values('revenue',ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [378]:
answers['16'] = 'Matt Damon'

data_copy = data[data.budget > data.budget.mean()].copy()
data_copy.cast = data_copy.cast.str.split('|')
#получм таблицу, где в колонке cast только по одному актеру
data_copy = data_copy.explode('cast')
#Сгруппируем по режессеру, а revenue просуммируем и отсортируем по убыванию. Возьмем первую строку.
data_copy.cast.value_counts(sort=True, ascending=False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [379]:
answers['17'] = 'Action'

data_copy = data[data.cast.str.contains('Nicolas Cage')].copy()
data_copy.genres = data_copy.genres.str.split('|')
data_copy = data_copy.explode('genres')

data_copy.genres.value_counts(sort=True, ascending=False).index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [380]:
answers['18'] = 'K-19: The Widowmaker'

data_copy = data[data.production_companies.str.contains('Paramount Pictures')].copy()
data_copy.sort_values('profit').original_title.values[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [381]:
answers['19'] = '2015'

data.groupby('release_year').sum().sort_values('revenue', ascending= False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [382]:
answers['20'] = '2014'

data[data.production_companies.str.contains('Warner Bros')].groupby('release_year').sum().sort_values('profit', ascending= False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [383]:
answers['21'] = 'Сентябрь - 9'

data_copy = data.copy()
data_copy['release_month'] = [d[0] for d in data_copy.release_date.str.split('/')]
data_copy
data_copy.release_month.value_counts().index[0]

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [384]:
answers['22'] = 450

data_copy = data.copy()
data_copy['release_month'] = [d[0] for d in data_copy.release_date.str.split('/')]
data_copy.release_month.value_counts().loc[['6','7','8']].sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [385]:
answers['23'] = 'Peter Jackson'

data_copy = data.copy()
data_copy['release_month'] = [d[0] for d in data_copy.release_date.str.split('/')]
data_copy = data_copy[((data_copy.release_month) == '1') |((data_copy.release_month) == '2') | ((data_copy.release_month) == '12') ]
data_copy.director.value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [399]:
answers['24'] = 'Four By Two Productions'

data_copy = data.copy()
data_copy['length_name'] = [len(d) for d in data_copy.original_title]
data_copy.production_companies = data_copy.production_companies.str.split('|')
data_copy = data_copy.explode('production_companies')
data_copy = data_copy.groupby('production_companies').mean()
data_copy.sort_values('length_name', ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [387]:
answers['25'] = 'Midnight Picture Show'

data_copy = data.copy()
data_copy['length_overview'] = [len(d.split(' ')) for d in data_copy.overview]
data_copy.production_companies = data_copy.production_companies.str.split('|')
data_copy = data_copy.explode('production_companies')
data_copy.groupby('production_companies').mean().sort_values('length_overview', ascending=False).index[0]

'Midnight Picture Show'

In [8]:

# Для ответа на вопрос 25
data['_title_word_count'] = data.overview.str.split(' ').apply(len)
# Список сравниваемых компаний
to_check = [ \
  'Universal Pictures', \
  'Warner Bros', \
  'Midnight Picture Show', \
  'Paramount Pictures', \
  'Total Entertainment' \
]
#Проход по списку с подсчётом среднего количества слов для каждой компании
result = {}
for item in to_check:
  result.setdefault(item,0)
  result[item]=data[data.production_companies.str.contains(item)]._title_word_count.mean()
result

{'Universal Pictures': 53.777142857142856,
 'Warner Bros': 54.25136612021858,
 'Midnight Picture Show': 175.0,
 'Paramount Pictures': 55.278688524590166,
 'Total Entertainment': 86.0}

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [401]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

data_copy = data.copy()
# отделим 1% лучших по рейтингу
count_the_best = round(0.01 * len(data_copy))
data_copy = data_copy.sort_values('vote_average', ascending=False).head(count_the_best)
films = list(data_copy.original_title)

# Найдем верный вариант ответа из предложенных
m1 = 'Inside Out, The Dark Knight, 12 Years a Slave'.split(', ')
m2 = 'BloodRayne, The Adventures of Rocky & Bullwinkle'.split(', ')
m3 = 'Batman Begins, The Lord of the Rings: The Return of the King, Upside Down'.split(', ')
m4 = '300, Lucky Number Slevin, Kill Bill: Vol. 1'.split(', ')
m5 = 'Upside Down, Inside Out, Iron Man'.split(', ')

    
if set(m2)<set(films): 
    print (m2)
    
if set(m3)<set(films): 
    print (m3)
    
if set(m4)<set(films): 
    print (m4)
    
if set(m5)<set(films): 
    print (m5)
    
if set(m1)<set(films): 
    print (m1)

['Inside Out', 'The Dark Knight', '12 Years a Slave']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [403]:
answers['27'] = ('Daniel Radcliffe', 'Rupert Grint')

# Создадим словарь, который будет содержать все пары актеров и количество фильмов в которых они встречаются
count_pair = Counter()
for acts in data.cast.str.split('|'):
    for i in itertools.combinations(acts,2):
        count_pair[i] += 1
count_pair.most_common(20)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6),
 (('Adam Sandler', 'Kevin James'), 5),
 (('Hugh Jackman', 'Ian McKellen'), 5),
 (('Kristen Stewart', 'Robert Pattinson'), 5),
 (('Kristen Stewart', 'Taylor Lautner'), 5),
 (('Robert Pattinson', 'Taylor Lautner'), 5),
 (('Jennifer Lawrence', 'Josh Hutcherson'), 4),
 (('Jennifer Lawrence', 'Liam Hemsworth'), 4),
 (('Jennifer Lawrence', 'Woody Harrelson'), 4),
 (('Josh Hutcherson', 'Liam Hemsworth'), 4),
 (('Josh Hutcherson', 'Woody Harrelson'), 4),
 (('Liam Hemsworth', 'Woody Harrelson'), 4),
 (('Tobin Bell', 'Costas Mandylor'), 4),
 (('Tobin Bell', 'Betsy Russell'), 4),
 (('Costas Mandylor', 'Betsy Russell'), 4),
 (('Vin Diesel', 'Jordana Brewster'), 4)]

ВАРИАНТ 2

# Submission

In [400]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '21': 'Сентябрь - 9',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': ('Daniel Radcliffe', 'Rupert Grint'),
 '1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '20': '2014'}

In [391]:
# и убедиться что ни чего не пропустил)
len(answers)

27